*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #fff;
    color: #000;
    font-size: 16px;
}
.wrapper{
    width: 100%;
}
.img-banner{
    display: none;
}
.img_info{
    width: 100%;
}
.img_info h2{
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 44px;
}
.img_info p{
    padding: 30px 30px 20px;
    font-family: arial;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}
.img-me{
    max-width: 600px;
    max-width: 450px;
}
@media only screen and (min-width: 570px){
    .img-banner{
        display: block;
        width: 100%;
        padding-bottom: 30px;
    }
    .wrapper{
        width: 600px;
        margin: 0 auto;
    }
    
    .img_info h2{
        padding: 20px 0px 0px;
        
    }
    .img_info p{
        padding: 20px 0px 0px;
        
    }
    img-me{
        padding-top: 30px;
    }
}
    
}
@media only screen and (min-width: 1000px){
    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .img_info{
        width: 50%;
        float: right;
    }
    img-me{
        padding-top: 0px;
        width: 50%;
        float: left;
    }
    .img_info h2{
        padding: 20px 0px 0px 30px;
        
    }
    .img_info p{
        padding: 20px 0px 0px 30px;
        
    }
}
    
}